body {font-family: "Helvetica", sans-serif; }

.menu1 li {font-size: 18px;
   text-align: center;
   list-style: none;
   color:white;
   margin: 10px 0;}
a {text-decoration: 0;
   color: white;}
.building{ background-image: url(../images/the-flatiron-building.png);
}
.building h1{font-size: 70px;color: white;}

.anuncio {text-align: center;}
h1, h3, h4 {text-weight: bold;}
h3 {font-size: 32px;}
h4 {font-size: 23px;}
p {font-size: 14px;}
.footer p {font-size: 11px;}
.btn-nav {
  font-size: 18px;
  color: white;
}
.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
.btn-nav {
  font-size: 18px;
  color: white;
}
